body {
  margin: 0;
  padding: 0;
  background-color: #c1c1c1 !important;
  height: 100vh;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  /* height: 320px; */
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


/* search bar css */

.blue-bg{
  background-color: #7ba4ff !important;
}

/* tweets */

span.retweet-count {
  margin-left: 5px;
}

.star-icon{
  cursor: pointer;

}

.star-icon i{
  color:yellow;
}

.user-img img{
  border-radius: 50px;
}

.pagination-wrap{ 
  margin:auto;
  text-align:center;
 }
 .pagination-v1 > li > a, 
 .pagination-v1 > li > span {
   background-color: #ea5745;
   border: 1px solid #ea5745;
   border-radius: 4px;
   color: #fff;
   float: left;
   font-size: 14px;
   line-height: 1.42857;
   margin-right: 5px;
   padding: 8px 15px;
   position: relative;
   text-decoration: none;
 }
 .pagination-v1 > li > a.active,
 .pagination-v1 > li > a:hover,
 .pagination-v1 > li > span:hover,
 .pagination-v1 > li > a:focus,
 .pagination-v1 > li > span:focus {
   background-color: #ee8477 !important;
   border-color: #ea5745;
   color: #fff;
 }
 
 /*============== pagination v2 =============**/
 .pagination-v2 > li > a, 
 .pagination-v2 > li > span {
   background-color: #45a1ea;
   border: 1px solid #45a1ea;
   border-radius: 4px;
   color: #fff;
   float: left;
   font-size: 14px;
   line-height: 1.42857;
   margin-right: 5px;
   padding: 8px 15px;
   position: relative;
   text-decoration: none;
 }
 .pagination-v2 > li > a.active,
 .pagination-v2 > li > a:hover,
 .pagination-v2 > li > span:hover,
 .pagination-v2 > li > a:focus,
 .pagination-v2 > li > span:focus {
   background-color: #77b8ee !important;
   border-color: #45a1ea;
   color: #fff;
 }
 
 /*============== pagination v3 =============**/
 .pagination-v3 > li > a, 
 .pagination-v3 > li > span {
   background-color: #27ae60;
   border: 1px solid #27ae60;
   border-radius: 4px;
   color: #fff;
   float: left;
   font-size: 14px;
   line-height: 1.42857;
   margin-right: 5px;
   padding: 8px 15px;
   position: relative;
   text-decoration: none;
 }
 .pagination-v3 > li > a.active,
 .pagination-v3 > li > a:hover,
 .pagination-v3 > li > span:hover,
 .pagination-v3 > li > a:focus,
 .pagination-v3 > li > span:focus {
   background-color: #2ecc71 !important;
   border-color: #27ae60;
   color: #fff;
 }
 
 /*============== pagination v4 =============**/
 .pagination-v4 > li > a, 
 .pagination-v4 > li > span {
   background-color: #2c3e50;
   border: 1px solid #2c3e50;
   border-radius: 4px;
   color: #fff;
   float: left;
   font-size: 14px;
   line-height: 1.42857;
   margin-right: 5px;
   padding: 8px 15px;
   position: relative;
   text-decoration: none;
 }
 .pagination-v4 > li > a.active,
 .pagination-v4 > li > a:hover,
 .pagination-v4 > li > span:hover,
 .pagination-v4 > li > a:focus,
 .pagination-v4 > li > span:focus {
   background-color: #34495e !important;
   border-color: #2c3e50;
   color: #fff;
 }
 .error-msg{
   color:red;
 }
 .keyword-margin{
    margin-left: 20px;
    margin-top: -15px;
 }

 /*============== profile =============**/

 .profile-pic img {
    border-radius: 50%;
    margin-left: 31px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}
.fullName {
  display: block;
  text-align: center;
  font-weight: bold;
 
}
.username{
  text-align: center;
}
.sidebar {
  background-color: white;
  padding: 24px;
}
.bg-white{
  background-color: white;
}
.basic-info {
  margin-top: 10px;
  /* padding: 15px; */
  color: #001b2f;
  font-size: 18px;
}
.edit-profile-btn {
  margin-left: 58px;
  margin-top: 10px;
}
.margin-right-11{
  margin-right: 11px;
}

.username{
  display: block;
}

.img-preview {
  height: 200px;
  width: 200px;
}
.img-preview img{
  height: 100%;
  width: 100%;
}


 /*============== signup =============**/

 .main{
  margin-top: 70px;
}

h1.title { 
 font-size: 50px;
 font-family: 'Passion One', cursive; 
 font-weight: 400; 
}

hr{
 width: 10%;
 color: #fff;
}

.form-group{
 margin-bottom: 15px;
}

label{
 margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}

.main-login{
  background-color: #fff;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
   padding: 40px 40px;

}

.login-button{
 margin-top: 5px;
}

.login-register{
 font-size: 11px;
 text-align: center;
}
.sign-up {
  margin-left: 100px;
  margin-right: 132px;
  background: #fff;
  padding: 33px;
}


/* .firstName{
  display: block;
}

.lastName{
  display: block;
} */
